.contact{
    background-image: url(../../../../images/contactBg.jpg);
    position: relative;
    z-index: 1;
}
.contact::before{
    position: absolute;
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(109, 107, 58);
    opacity: .9;
    z-index: -1;
}