.sidebar{
    background-color: #4E262F;
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 5px;
}
.style{
    text-decoration: none;
}